ul.messages {
    list-style-type: none;
}

ul.messages li {
    padding: 5px;
    margin: 5px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.list-group{
    max-height: 430px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.alert-error
{
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
}
.alert-error a
{
    font-weight: 600;

    color: #ac0829;
}
.alert-error a:hover
{
    color: #fff;
}
.alert-error hr
{
    border-top-color: #f63e62;
}
.alert-error .alert-link
{
    color: #ec0c38;
}