ul.messages {
    list-style-type: none;
}

ul.messages li {
    padding: 5px;
    margin: 5px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.list-group{
    max-height: 430px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}