{% extends "base.html" %}

{% block title %} LOOG {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>EAbout Loog!</h1>
            <p>Ask a question, ask for suggestions, ask for opinions about a topic, a message, a video or a photo and
                get real time conversational responses from matched people. It’s a constant challenge to get reliable
                answers, suggestions or insights on a topic/question. Every so often, these people search and
                investigate in order to acquire help, information and knowledge.

                Loog is a people based Search, you search for a query, few keywords or tags, based on that, the system
                connects you to people who have been tagged with those keywords given the quality and quantity of their
                chats in the past.
            </p>
        </div>
    </div>
</div>

{% endblock %}