{% extends "base.html" %}

{% block title %} LOOG {% endblock %}
{% block content %}

<div class="container">
    <div class="alert alert-info mt-3" role="alert">
        <p class="font-weight-light mt-3" data-toggle="tooltip"
            title='Example: "Nike Air Max 720 or Adidas Ultraboost 19" or "doctor, fracture, finger, pain"'> Ask a
            question, or search to get connected to online experts or
            who can chat about the subject.</p>
    </div>

    <form action="search" method="POST">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Subject..">
            <div class="input-group-append">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit" value="search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}