Django==3.2.4
django-crispy-forms==1.11.2
django-filter==2.2.0
djangorestframework==3.12.4
channels==2.4.0
channels-redis==2.4.2
Markdown==3.2.1
mysqlclient==2.0.3
pytz==2021.1
gunicorn==20.0.4
celery==5.1.2
redis==3.5.3
django-redis==5.0.0
